<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <title>后台管理</title>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="news_List">文章管理</a></li>
            <li class="layui-nav-item layui-this"><a href="news_Column">栏目管理</a></li>
            <li class="layui-nav-item"><a href="news_User">用户管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img" />
                    <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="news_Password">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="logout">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="news_Column">栏目列表</a>
                </li>
                <li class="layui-nav-item">
                    <a class="layui-this" href="news_Column_Add">添加栏目</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="content" style="text-align: center">
                <h1>添加栏目</h1>

                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">栏目名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" required lay-verify="required" placeholder="请输入栏目名称" autocomplete="off" class="layui-input" />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">链接</label>
                        <div class="layui-input-block">
                            <input type="text" name="link" required lay-verify="required" placeholder="例如：./Default" autocomplete="off" class="layui-input" />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" name="order" required lay-verify="required" placeholder="数字越大越前" autocomplete="off" class="layui-input" />
                        </div>
                    </div>



                    <button class="layui-btn" id="submit" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </form>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 2019
    </div>
</div>

<script src="/static/layui/layui.js"></script>
<script src="/static/jquery/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $('#submit').click(function () {
            $.ajax({
                url:"{:url('')}",
                type:'post',
                data:$("form").serialize(),
                dataType:'json',
                success:function (data) {
                    if(data.state==1){
                        layer.msg("添加成功", { icon: 6 });
                    }else{
                        window.location.href=data.url
                    }

                }
            });
            return false;
        });
    });
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
    });
</script>
</body>
</html>


